/* List.css */
.listContainer {
    display: flex;
    flex-direction: column;
    margin: 20px 0;
  }
  
  .itemRow {
    display: flex;
    justify-content: space-between;
    padding: 10px 0;
    border-bottom: 1px solid #c89666; /* Light border for separation */
    font-size: 18px; /* Increased font size */
  }
  